.channel {
  width: 198px;
  border: 1px solid #666;
  padding: 12px;
  background-color: #eee;
  margin: 12px;
  float: left;
}

.lens {
  background-color: white;
  border: 1px solid #666;
  display: block;
  height: 92px;
  width: 100%;
}